<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.benrostudios.flowbump">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.benrostudios.flowbump.FlowBumpApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlowBump"
        tools:targetApi="31">
        <activity
            android:name="com.benrostudios.flowbump.presentation.home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.FlowBump" />
        <activity
            android:name="com.benrostudios.flowbump.presentation.sign_in.SignInActivity"
            android:exported="true"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/Theme.FlowBump">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FlowBump">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>